* {
  font-family: roboto, sans-serif;
}

* button {
  all: unset; 
  color: white;
  font-size: 30px;
  cursor:pointer;
  transition: 0.1s;
}

* button:hover {
  filter: saturate(2);
}
.selected {
  filter: saturate(3);
  
}


.container {
/* display: flex; */
background-color: rgb(207, 212, 212);
margin-left: auto;
margin-right: auto;
width: max-content;
height: max-content;
padding: 40px;
margin-top: 80px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
            rgba(0, 0, 0, 0.12) 0px -12px 30px, 
            rgba(0, 0, 0, 0.12) 0px 4px 6px, 
            rgba(0, 0, 0, 0.17) 0px 12px 13px, 
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 3px;
}

#equals {
  grid-column: span 2;
  background-color: rgb(75, 115, 129) !important;
}

.grid-container button,
.grid-container div {
  background: rgb(75, 105, 129);
  /* width: auto; */
  text-align: center;
  border-radius: 4px;
  margin: 1px;
  color: white;
}

.display {
  grid-column: 1/-1;
  padding-right: 15px;
  opacity: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.display #top-display{
  text-align: right;
  color: rgba(255, 255, 255, 0.712);
  margin: 0px;
  font-size: 30px;

}

.display #main-display {
  text-align: right;
  margin: 0px;
  margin-top: 5px;
  font-size: 40px;
  font-weight: 500;
}

.grid-container .op,
.grid-container .other {
  color: rgb(255, 255, 255);
  background-color: rgb(75, 127, 129);
}



